<header>
    <div class="contain flex jcsb aic g30">
        <a href="/">
            <div class="flex jcfs aic g5 logo">
                <img src="{{ url_for('static', filename='images/connect.png') }}" alt="logo" > 
                <span>Connect</span>
            </div>
        </a>
        <ul class="flex jcfe aic g20">
            <li>
                <a href="/">Home</a>
            </li>
            {%if session.logged_in %}
                <li>
                    <a href="/profile/"+"">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        Log Out
                    </a>
                </li>
            {% endif %}
            {%if not session.logged_in %}
                <li>
                    <a href="/login">Log In</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>

    

