{% extends "base.html" %} {% block content %}
<section>
  <div class="contain">
    {% set title = "Add Post" %} {% include './components/head.html' %}
    <form
      method="post"
      class="grid jcs aic g30"
      action="/add_post"
      enctype="multipart/form-data"
    >
      <div class="form_description grid jcs aic g5">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="4"
          required
        ></textarea>
      </div>
      <div class="form_image grid jcs aic g5">
        <label for="image">Image</label>
        <input
          type="file"
          class="form-control-file"
          id="image"
          name="image"
          accept=".jpg, .jpeg, .png , .gif"
          required
        />
      </div>
      <button type="submit" class="form_button">Add Post</button>
    </form>
  </div>
</section>
{% endblock %}
