{% extends "base.html" %} {% block content %}
<h1>Home</h1>
<div class="row">
  {% for post in posts %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ post.image_url }}" alt="Post Image" />
      <div class="card-body">
        <h5 class="card-title">{{ post.description }}</h5>
        <p class="card-text">Posted by: {{ post.user_id }}</p>
        <a
          href="{{ url_for('display_post', post_id=post.post_id) }}"
          class="btn btn-primary"
          >View Post</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
